# Data cleaning

In [1]:
import os
import pickle
import pandas as pd

In [2]:
with open('../Data/Crisis_data.txt', 'rb') as fpr:
    results = pickle.load(fpr)

In [3]:
def printstars(count):
    print(count*"*")

In [4]:
results_df = pd.DataFrame.from_records(results)
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42543 entries, 0 to 42542
Data columns (total 25 columns):
beat                           41980 non-null object
call_type                      41980 non-null object
cit_certified_indicator        17802 non-null object
cit_officer_arrived            42543 non-null object
cit_officer_dispatched         42543 non-null object
cit_officer_requested          42543 non-null object
disposition                    41233 non-null object
final_call_type                41980 non-null object
initial_call_type              41980 non-null object
occured_date_time              41980 non-null object
officer_bureau_desc            42239 non-null object
officer_gender                 42543 non-null object
officer_id                     42543 non-null object
officer_precinct_desc          41299 non-null object
officer_race                   42543 non-null object
officer_squad_desc             42246 non-null object
officer_year_of_birth          42431 non-null object
officer_years_of_experience    39627 non-null object
precinct                       41980 non-null object
reported_date                  42543 non-null object
reported_time                  42543 non-null object
sector                         41941 non-null object
subject_veteran_indicator      42543 non-null object
template_id                    42543 non-null object
use_of_force_indicator         42543 non-null object
dtypes: object(25)
memory usage: 8.1+ MB

We see different number of entries for each column.

Need to remove data which is not vaiable and clean the data accordingly.

In [5]:
results_df.isnull().values.all()

False

We have no null values, need to explore whether the bad is in what kind or type of format.

## Let's clean the data if needed.

In [6]:
results_df.head()

,beat,call_type,cit_certified_indicator,cit_officer_arrived,cit_officer_dispatched,cit_officer_requested,disposition,final_call_type,initial_call_type,occured_date_time,...,officer_squad_desc,officer_year_of_birth,officer_years_of_experience,precinct,reported_date,reported_time,sector,subject_veteran_indicator,template_id,use_of_force_indicator
0,U3,"TELEPHONE OTHER, NOT 911",NaN,N,N,N,Resources Declined,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,"SUSPICIOUS PERSON, VEHICLE OR INCIDENT",2016-01-04T17:59:27.000,...,SOUTH PCT 3RD W - OCEAN,1982,8,NORTH,2016-09-09,22:34:00,UNION,Yes,193069,N
1,M1,ONVIEW,Y,Y,Y,N,Emergent Detention/ITA,--CRISIS COMPLAINT - GENERAL,PERSON IN BEHAVIORAL/EMOTIONAL CRISIS,2017-12-12T20:04:09.000,...,WEST PCT 3RD W - MARY,1989,4,WEST,2017-12-12,21:51:00,MARY,Unknown,356577,N
2,K2,911,Y,Y,Y,N,Emergent Detention/ITA,--CRISIS COMPLAINT - GENERAL,SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS,2017-12-12T22:36:11.000,...,WEST PCT 3RD W - KING,1982,4,WEST,2017-12-12,23:14:00,KING,Unknown,356580,N
3,C1,"TELEPHONE OTHER, NOT 911",NaN,Y,N,N,Subject Arrested,--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY),SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS,2017-12-13T16:17:18.000,...,EAST PCT 2ND W - CHARLIE,1972,17,EAST,2017-12-13,18:28:00,CHARLIE,No,356757,N
4,D1,ONVIEW,NaN,Y,N,N,Subject Arrested,--NARCOTICS - OTHER,HAZ - POTENTIAL THRT TO PHYS SAFETY (NO HAZMAT),2017-12-13T12:24:23.000,...,WEST PCT 2ND W - D/M RELIEF,1985,8,WEST,2017-12-13,13:42:00,DAVID,No,356716,N

## Remove NaN and replace them.

In [7]:
## [X] template_id                               number  Template ID
## [X] reported_date                               text  Reported Date
## [X] reported_time                               text  Reported Time
## [X] occured_date_time             floating_timestamp  Occurred Date / Time
## [X] call_type                                   text  Call Type
## [X] initial_call_type                           text  Initial Call Type
## [X] final_call_type                             text  Final Call Type
## [X] disposition                                 text  Disposition
## [X] use_of_force_indicator                      text  Use of Force Indicator
## [X] subject_veteran_indicator                   text  Subject Veteran Indicator
## [X] cit_officer_requested                       text  CIT Officer Requested
## [X] cit_officer_dispatched                      text  CIT Officer Dispatched
## [X] cit_officer_arrived                         text  CIT Officer Arrived
## [X] officer_id                                  text  Officer ID
## [X] officer_gender                              text  Officer Gender
## [X] officer_race                                text  Officer Race
## [X] officer_year_of_birth                       text  Officer Year of Birth
## [X] officer_years_of_experience                 text  Officer Years of Experience
## [X] cit_certified_indicator                     text  CIT Certified Indicator
## [X] officer_bureau_desc                         text  Officer Bureau Desc
## [X] officer_precinct_desc                       text  Officer Precinct Desc
## [X] officer_squad_desc                          text  Officer Squad Desc
## [X] precinct                                    text  Precinct
## [X] sector                                      text  Sector
## [X] beat                                        text  Beat

In [8]:
print(results_df[['beat']].describe(include='all'))
printstars(100)
# print("Geographical beat count:",results_df.groupby('beat').size().count())
print("Missing entries:",results_df[['beat']].isnull().values.any())
printstars(100)
print("Missing entries count:",results_df[['beat']].isnull().sum())

         beat
count   41980
unique     59
top        K2
freq     1543
****************************************************************************************************
Missing entries: True
****************************************************************************************************
Missing entries count: beat    563
dtype: int64

In [9]:
print(results_df[['sector']].describe(include='all'))
printstars(100)
# print("Number of unique sectors:",results_df.groupby('sector').size().count())
# printstars(50)
# print("Sectors count:",results_df.groupby('sector').size())
# printstars(50)
print("Missing sectors:",results_df[['sector']].isnull().values.any())
printstars(100)
print("Missing sectors count:",results_df[['sector']].isnull().sum())

       sector
count   41941
unique     17
top      KING
freq     4212
****************************************************************************************************
Missing sectors: True
****************************************************************************************************
Missing sectors count: sector    602
dtype: int64

In [10]:
print(results_df[['precinct']].describe(include='all'))
printstars(100)
# print("Number of unique sectors:",results_df.groupby('precinct').size().count())
# printstars(100)
print("Sectors count:",results_df.groupby('precinct').size())
printstars(100)
print("There are few UNKNOWN precincts.")
printstars(100)
print("Missing precincts:",results_df[['precinct']].isnull().values.any())
printstars(100)
print("Missing precinct count:",results_df[['precinct']].isnull().sum())

       precinct
count     41980
unique        6
top       NORTH
freq      12380
****************************************************************************************************
Sectors count: precinct
EAST          8612
NORTH        12380
SOUTH         5242
SOUTHWEST     3682
UNKNOWN         39
WEST         12025
dtype: int64
****************************************************************************************************
There are few UNKNOWN precincts.
****************************************************************************************************
Missing precincts: True
****************************************************************************************************
Missing precinct count: precinct    563
dtype: int64

In [11]:
print(results_df[['officer_squad_desc']].describe(include='all'))
printstars(100)
print("Number of unique officer_squad_desc:",results_df.groupby('officer_squad_desc').size().count())
printstars(100)
print("Missing officer_squad_desc:",results_df[['officer_squad_desc']].isnull().values.any())
printstars(100)
print("Missing officer_squad_desc count:",results_df[['officer_squad_desc']].isnull().sum())

                     officer_squad_desc
count                             42246
unique                              145
top     TRAINING - FIELD TRAINING SQUAD
freq                               4178
****************************************************************************************************
Number of unique officer_squad_desc: 145
****************************************************************************************************
Missing officer_squad_desc: True
****************************************************************************************************
Missing officer_squad_desc count: officer_squad_desc    297
dtype: int64

In [12]:
print(results_df[['officer_precinct_desc']].describe(include='all'))
printstars(100)
print("Number of unique officer_precinct_desc:",results_df.groupby('officer_precinct_desc').size())
printstars(100)
print("Missing officer_precinct_desc:",results_df[['officer_precinct_desc']].isnull().values.any())
printstars(100)
print("Missing officer_precinct_desc count:",results_df[['officer_precinct_desc']].isnull().sum())

       officer_precinct_desc
count                  41299
unique                    23
top                 WEST PCT
freq                   11158
****************************************************************************************************
Number of unique officer_precinct_desc: officer_precinct_desc
APR - AUDIT, POLICY AND RESEARCH SECTION           4
COLLABORATIVE POLICING SECTION                     7
COMMUNICATIONS SECTION                             8
COMMUNITY OUTREACH SECTION                         3
COORDINATED CRIMINAL INVESTIGATIONS SECTION        6
EAST PCT                                        7907
FORCE INVESTIGATIONS SECTION                       1
HIGH RISK VICTIMS SECTION                          2
HUMAN RESOURCES SECTION                            6
ICAC SECTION                                       1
INTELLIGENCE AND TACTICAL ANALYSIS SECTION         5
METROPOLITAN SECTION                              10
NARCOTICS SECTION                                  4
NORTH PCT                                      10694
OPA INVESTIGATIONS SECTION                         5
SOUTH PCT                                       4230
SOUTHWEST PCT                                   2994
SPECIAL VICTIM CRIMES SECTION                     32
TRAFFIC SECTION                                   30
TRAINING AND EDUCATION SECTION                  4185
VIOLENT CRIMES SECTION                             6
WEST PCT                                       11158
ZOLD DATA DRIVEN POLICING SECTION                  1
dtype: int64
****************************************************************************************************
Missing officer_precinct_desc: True
****************************************************************************************************
Missing officer_precinct_desc count: officer_precinct_desc    1244
dtype: int64

In [13]:
print(results_df[['officer_bureau_desc']].describe(include='all'))
printstars(100)
print("Number of unique officer_bureau_desc:",results_df.groupby('officer_bureau_desc').size().count())
printstars(100)
print("Number of unique officer_bureau_desc:",results_df.groupby('officer_bureau_desc').size())
printstars(100)
print("Missing officer_bureau_desc:",results_df[['officer_bureau_desc']].isnull().values.any())
printstars(100)
print("Missing officer_bureau_desc count:",results_df[['officer_bureau_desc']].isnull().sum())

       officer_bureau_desc
count                42239
unique                   6
top      OPERATIONS BUREAU
freq                 37939
****************************************************************************************************
Number of unique officer_bureau_desc: 6
****************************************************************************************************
Number of unique officer_bureau_desc: officer_bureau_desc
COLLABORATIVE POLICING BUREAU                          9
HOMELAND SECURITY AND SPECIAL OPERATIONS BUREAU       40
INVESTIGATIONS BUREAU                                 56
OPA - OFFICE OF POLICE ACCOUNTABILITY                  5
OPERATIONS BUREAU                                  37939
PROFESSIONAL STANDARDS BUREAU                       4190
dtype: int64
****************************************************************************************************
Missing officer_bureau_desc: True
****************************************************************************************************
Missing officer_bureau_desc count: officer_bureau_desc    304
dtype: int64

In [14]:
print(results_df[['cit_certified_indicator']].describe(include='all'))
printstars(100)
print("Number of unique cit_certified_indicator:",results_df.groupby('cit_certified_indicator').size())
printstars(100)
print("Missing cit_certified_indicator:",results_df[['cit_certified_indicator']].isnull().values.any())
printstars(100)
print("Missing cit_certified_indicator count:",results_df[['cit_certified_indicator']].isnull().sum())
printstars(100)
print("Condsider remaining as False (i.e, Not certified.)")

       cit_certified_indicator
count                    17802
unique                       1
top                          Y
freq                     17802
****************************************************************************************************
Number of unique cit_certified_indicator: cit_certified_indicator
Y    17802
dtype: int64
****************************************************************************************************
Missing cit_certified_indicator: True
****************************************************************************************************
Missing cit_certified_indicator count: cit_certified_indicator    24741
dtype: int64
****************************************************************************************************
Condsider remaining as False (i.e, Not certified.)

In [15]:
results_df.cit_certified_indicator.head()

0    NaN
1      Y
2      Y
3    NaN
4    NaN
Name: cit_certified_indicator, dtype: object

Replace NaN with N.

In [16]:
results_df.cit_certified_indicator = results_df.cit_certified_indicator.fillna('N')

In [17]:
print("Missing cit_certified_indicator:",results_df[['cit_certified_indicator']].isnull().values.any())

Missing cit_certified_indicator: False

In [18]:
print(results_df[['officer_years_of_experience']].describe(include='all'))
printstars(100)
print("Number of unique officer_years_of_experience:",results_df.groupby('officer_years_of_experience').size().count())
# printstars(100)
# print("Number of unique officer_years_of_experience:",results_df.groupby('officer_years_of_experience').size())
printstars(100)
print("Missing officer_years_of_experience:",results_df[['officer_years_of_experience']].isnull().values.any())
printstars(100)
print("Missing officer_years_of_experience count:",results_df[['officer_years_of_experience']].isnull().sum())
printstars(100)
print("Remove invalid experiences.")

       officer_years_of_experience
count                        39627
unique                          42
top                              1
freq                          7529
****************************************************************************************************
Number of unique officer_years_of_experience: 42
****************************************************************************************************
Missing officer_years_of_experience: True
****************************************************************************************************
Missing officer_years_of_experience count: officer_years_of_experience    2916
dtype: int64
****************************************************************************************************
Remove invalid experiences.

In [19]:
print(results_df[['officer_year_of_birth']].describe(include='all'))
printstars(100)
print("Number of unique officer_year_of_birth:",results_df.groupby('officer_year_of_birth').size().count())
# printstars(100)
# print("Number of unique officer_year_of_birth:",results_df.groupby('officer_year_of_birth').size())
printstars(100)
print("Missing officer_year_of_birth:",results_df[['officer_year_of_birth']].isnull().values.any())
printstars(100)
print("Missing officer_year_of_birth count:",results_df[['officer_year_of_birth']].isnull().sum())
printstars(100)
print("Is year 1900 outlier ? Need to do some feature engineering to find the age of the officer.")

       officer_year_of_birth
count                  42431
unique                    49
top                     1987
freq                    2766
****************************************************************************************************
Number of unique officer_year_of_birth: 49
****************************************************************************************************
Missing officer_year_of_birth: True
****************************************************************************************************
Missing officer_year_of_birth count: officer_year_of_birth    112
dtype: int64
****************************************************************************************************
Is year 1900 outlier ? Need to do some feature engineering to find the age of the officer.

In [20]:
print(results_df[['officer_race']].describe(include='all'))
printstars(100)
print("Number of unique officer_race:",results_df.groupby('officer_race').size().count())
printstars(100)
print("Number of unique officer_race:",results_df.groupby('officer_race').size())
printstars(100)
print("Missing officer_race:",results_df[['officer_race']].isnull().values.any())
printstars(100)
print("No missing records, Unknown officer rows exists.")

       officer_race
count         42543
unique            9
top           White
freq          31428
****************************************************************************************************
Number of unique officer_race: 9
****************************************************************************************************
Number of unique officer_race: officer_race
American Indian/Alaska Native      623
Asian                             2269
Black or African American         2294
Hispanic or Latino                1978
Nat Hawaiian/Oth Pac Islander      578
Not Specified                      954
Two or More Races                 2303
Unknown                            116
White                            31428
dtype: int64
****************************************************************************************************
Missing officer_race: False
****************************************************************************************************
No missing records, Unknown officer rows exists.

In [21]:
print(results_df[['officer_gender']].describe(include='all'))
printstars(100)
print("Number of unique officer_gender:",results_df.groupby('officer_gender').size().count())
printstars(100)
print("Number of unique officer_gender:",results_df.groupby('officer_gender').size())
printstars(100)
print("Missing officer_gender:",results_df[['officer_gender']].isnull().values.any())
printstars(100)
print("No missing rows. Categorize N either to F or M, count is low for N")
printstars(100)

       officer_gender
count           42543
unique              3
top                 M
freq            36680
****************************************************************************************************
Number of unique officer_gender: 3
****************************************************************************************************
Number of unique officer_gender: officer_gender
F     5779
M    36680
N       84
dtype: int64
****************************************************************************************************
Missing officer_gender: False
****************************************************************************************************
No missing rows. Categorize N either to F or M, count is low for N
****************************************************************************************************

In [22]:
print(results_df[['officer_id']].describe(include='all'))
printstars(100)
print("Number of unique officer_id:",results_df.groupby('officer_id').size().count())
# printstars(100)
# print("Number of unique officer_id:",results_df.groupby('officer_id').size())
printstars(100)
print("Missing officer_id:",results_df[['officer_id']].isnull().values.any())
printstars(100)
print("No Missing officer_ids. Remove invalid id's.")
printstars(100)

       officer_id
count       42543
unique        973
top          1735
freq          751
****************************************************************************************************
Number of unique officer_id: 973
****************************************************************************************************
Missing officer_id: False
****************************************************************************************************
No Missing officer_ids. Remove invalid id's.
****************************************************************************************************

In [23]:
print(results_df[['cit_officer_arrived']].describe(include='all'))
printstars(100)
print("Number of unique cit_officer_arrived:",results_df.groupby('cit_officer_arrived').size())
printstars(100)
print("Missing cit_officer_arrived:",results_df[['cit_officer_arrived']].isnull().values.any())
printstars(100)
print("No Missing data.")

       cit_officer_arrived
count                42543
unique                   2
top                      Y
freq                 33206
****************************************************************************************************
Number of unique cit_officer_arrived: cit_officer_arrived
N     9337
Y    33206
dtype: int64
****************************************************************************************************
Missing cit_officer_arrived: False
****************************************************************************************************
No Missing data.

In [24]:
print(results_df[['cit_officer_dispatched']].describe(include='all'))
printstars(100)
print("Number of unique cit_officer_dispatched:",results_df.groupby('cit_officer_dispatched').size())
printstars(100)
print("Missing cit_officer_dispatched:",results_df[['cit_officer_dispatched']].isnull().values.any())
printstars(100)
print("No Missing data.")

       cit_officer_dispatched
count                   42543
unique                      2
top                         N
freq                    22310
****************************************************************************************************
Number of unique cit_officer_dispatched: cit_officer_dispatched
N    22310
Y    20233
dtype: int64
****************************************************************************************************
Missing cit_officer_dispatched: False
****************************************************************************************************
No Missing data.

In [25]:
print(results_df[['cit_officer_requested']].describe(include='all'))
printstars(100)
print("Number of unique cit_officer_requested:",results_df.groupby('cit_officer_requested').size())
printstars(100)
print("Missing cit_officer_requested:",results_df[['cit_officer_requested']].isnull().values.any())
printstars(100)
print("No Missing data.")

       cit_officer_requested
count                  42543
unique                     2
top                        N
freq                   38577
****************************************************************************************************
Number of unique cit_officer_requested: cit_officer_requested
N    38577
Y     3966
dtype: int64
****************************************************************************************************
Missing cit_officer_requested: False
****************************************************************************************************
No Missing data.

In [26]:
print(results_df[['subject_veteran_indicator']].describe(include='all'))
printstars(100)
print("Number of unique subject_veteran_indicator:",results_df.groupby('subject_veteran_indicator').size().count())
printstars(100)
print("Number of unique subject_veteran_indicator:",results_df.groupby('subject_veteran_indicator').size())
printstars(100)
print("Missing subject_veteran_indicator:",results_df[['subject_veteran_indicator']].isnull().values.any())
printstars(100)
print("No Missing rows, but '-' needs to be addressed and does 'unknown' signify anything.")

       subject_veteran_indicator
count                      42543
unique                         4
top                      Unknown
freq                       23006
****************************************************************************************************
Number of unique subject_veteran_indicator: 4
****************************************************************************************************
Number of unique subject_veteran_indicator: subject_veteran_indicator
-           4446
No         13398
Unknown    23006
Yes         1693
dtype: int64
****************************************************************************************************
Missing subject_veteran_indicator: False
****************************************************************************************************
No Missing rows, but '-' needs to be addressed and does 'unknown' signify anything.

Since unknown category has a large count, we will leave it as it's own category.

And '-' will be considered as No.

In [27]:
print(results_df[['use_of_force_indicator']].describe(include='all'))
printstars(100)
print("Number of unique use_of_force_indicator:",results_df.groupby('use_of_force_indicator').size())
printstars(100)
print("Missing use_of_force_indicator:",results_df[['use_of_force_indicator']].isnull().values.any())
printstars(100)
print("No Missing data.")

       use_of_force_indicator
count                   42543
unique                      2
top                         N
freq                    41856
****************************************************************************************************
Number of unique use_of_force_indicator: use_of_force_indicator
N    41856
Y      687
dtype: int64
****************************************************************************************************
Missing use_of_force_indicator: False
****************************************************************************************************
No Missing data.

In [28]:
print(results_df[['disposition']].describe(include='all'))
printstars(100)
print("Number of unique disposition:",results_df.groupby('disposition').size().count())
printstars(100)
print("Number of unique disposition:",results_df.groupby('disposition').size())
printstars(100)
print("Missing disposition:",results_df[['disposition']].isnull().values.any())
printstars(100)
print("Missing disposition count:",results_df[['disposition']].isnull().sum())
printstars(100)

                   disposition
count                    41233
unique                      14
top     Emergent Detention/ITA
freq                     11013
****************************************************************************************************
Number of unique disposition: 14
****************************************************************************************************
Number of unique disposition: disposition
Chronic Complaint                                 2965
Crisis Clinic                                      777
DMHP Referral                                      736
Drug/Alcohol Treatment Referral                    734
Emergent Detention/ITA                           11013
Geriatric Regional Assessment Team                 173
Mental Health Agency or Case Manager Notified     1047
Mobile Crisis Team                                2779
No Action Possible or Necessary                   7327
Resources Declined                                5758
Shelter Transport                                  245
Subject Arrested                                  3008
Unable to Contact                                 1130
Voluntary Committal                               3541
dtype: int64
****************************************************************************************************
Missing disposition: True
****************************************************************************************************
Missing disposition count: disposition    1310
dtype: int64
****************************************************************************************************

In [29]:
print(results_df[['final_call_type']].describe(include='all'))
printstars(100)
print("Number of unique final_call_type:",results_df.groupby('final_call_type').size().count())
printstars(100)
print("Missing final_call_type:",results_df[['final_call_type']].isnull().values.any())
printstars(100)
print("Missing final_call_type count:",results_df[['final_call_type']].isnull().sum())

                     final_call_type
count                          41980
unique                           201
top     --CRISIS COMPLAINT - GENERAL
freq                           28424
****************************************************************************************************
Number of unique final_call_type: 201
****************************************************************************************************
Missing final_call_type: True
****************************************************************************************************
Missing final_call_type count: final_call_type    563
dtype: int64

In [30]:
print(results_df[['initial_call_type']].describe(include='all'))
printstars(100)
print("Number of unique initial_call_type:",results_df.groupby('initial_call_type').size().count())
printstars(100)
print("Missing initial_call_type:",results_df[['initial_call_type']].isnull().values.any())
printstars(100)
print("Missing initial_call_type count:",results_df[['initial_call_type']].isnull().sum())

                                   initial_call_type
count                                          41980
unique                                           192
top     SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS
freq                                            7648
****************************************************************************************************
Number of unique initial_call_type: 192
****************************************************************************************************
Missing initial_call_type: True
****************************************************************************************************
Missing initial_call_type count: initial_call_type    563
dtype: int64

In [31]:
print(results_df[['call_type']].describe(include='all'))
printstars(100)
print("Number of unique call_type:",results_df.groupby('call_type').size().count())
printstars(100)
print("Number of unique call_type:",results_df.groupby('call_type').size())
printstars(100)
print("Missing call_type:",results_df[['call_type']].isnull().values.any())
printstars(100)
print("Missing call_type count:",results_df[['call_type']].isnull().sum())

       call_type
count      41980
unique         7
top          911
freq       28932
****************************************************************************************************
Number of unique call_type: 7
****************************************************************************************************
Number of unique call_type: call_type
911                              28932
ALARM CALL (NOT POLICE ALARM)      218
HISTORY CALL (RETRO)                 2
IN PERSON COMPLAINT                  3
ONVIEW                            4944
PROACTIVE (OFFICER INITIATED)        1
TELEPHONE OTHER, NOT 911          7880
dtype: int64
****************************************************************************************************
Missing call_type: True
****************************************************************************************************
Missing call_type count: call_type    563
dtype: int64

In [32]:
print(results_df[['reported_time']].describe(include='all'))
printstars(100)
print("Number of unique reported_time:",results_df.groupby('reported_time').size().count())
printstars(100)
print("Missing reported_time:",results_df[['reported_time']].isnull().values.any())
printstars(100)
print("No missing data.")

       reported_time
count          42543
unique          1440
top         19:01:00
freq              64
****************************************************************************************************
Number of unique reported_time: 1440
****************************************************************************************************
Missing reported_time: False
****************************************************************************************************
No missing data.

In [33]:
print(results_df[['reported_date']].describe(include='all'))
printstars(100)
print("Number of unique reported_date:",results_df.groupby('reported_date').size().count())
printstars(100)
print("Missing reported_date:",results_df[['reported_date']].isnull().values.any())
printstars(100)
print("No missing data.")

       reported_date
count          42543
unique          1259
top       2016-06-06
freq              67
****************************************************************************************************
Number of unique reported_date: 1259
****************************************************************************************************
Missing reported_date: False
****************************************************************************************************
No missing data.

In [34]:
print(results_df[['template_id']].describe(include='all'))
printstars(100)
print("Number of unique template_id:",results_df.groupby('template_id').size().count())
printstars(100)
print("Missing template_id:",results_df[['template_id']].isnull().values.any())
printstars(100)
print("Missing template_id count:",results_df[['template_id']].isnull().sum())
printstars(100)
print("No missing data. Does this id add value ? And why are there duplicates ?")

       template_id
count        42543
unique       34901
top         290178
freq             6
****************************************************************************************************
Number of unique template_id: 34901
****************************************************************************************************
Missing template_id: False
****************************************************************************************************
Missing template_id count: template_id    0
dtype: int64
****************************************************************************************************
No missing data. Does this id add value ? And why are there duplicates ?

In [35]:
print(results_df[['occured_date_time']].describe(include='all'))
printstars(100)
print("Number of unique occured_date_time:",results_df.groupby('occured_date_time').size().count())
printstars(100)
print("Missing occured_date_time:",results_df[['occured_date_time']].isnull().values.any())
printstars(100)
print("Missing occured_date_time count:",results_df[['occured_date_time']].isnull().sum())
printstars(100)
print("Remove missing data.")

              occured_date_time
count                     41980
unique                    33921
top     2017-01-10T09:30:47.000
freq                          7
****************************************************************************************************
Number of unique occured_date_time: 33921
****************************************************************************************************
Missing occured_date_time: True
****************************************************************************************************
Missing occured_date_time count: occured_date_time    563
dtype: int64
****************************************************************************************************
Remove missing data.

### Removing missing data.

Drop empty rows for these columns.

In [36]:
results_df.dropna(subset=['beat','sector','precinct', 'officer_squad_desc', 'officer_precinct_desc', 'officer_bureau_desc'], inplace=True)

In [37]:
results_df.officer_years_of_experience = results_df.officer_years_of_experience.apply(pd.to_numeric, errors='coerce')

Used median age to fill out the missing officer years of experience.

In [38]:
results_df.officer_years_of_experience = results_df.officer_years_of_experience.fillna(results_df.officer_years_of_experience.median())

There are a small portion of officer gender not mentioned, so treated N with F.

In [39]:
results_df.officer_gender = results_df.officer_gender.replace("N","F")

'-' is considered as No.

In [40]:
results_df.subject_veteran_indicator = results_df.subject_veteran_indicator.replace("-","No")

For empty Disposition, created a category of No Disposition info.

In [41]:
results_df.disposition = results_df.disposition.fillna('No Disposition info')

In [42]:
print("Missing beat:",results_df[['beat']].isnull().values.any())
print("Missing call_type:",results_df[['call_type']].isnull().values.any())
print("Missing cit_certified_indicator:",results_df[['cit_certified_indicator']].isnull().values.any())
print("Missing cit_officer_arrived:",results_df[['cit_officer_arrived']].isnull().values.any())
print("Missing cit_officer_dispatched:",results_df[['cit_officer_dispatched']].isnull().values.any())
print("Missing cit_officer_requested:",results_df[['cit_officer_requested']].isnull().values.any())
print("Missing disposition:",results_df[['disposition']].isnull().values.any())
print("Missing final_call_type:",results_df[['final_call_type']].isnull().values.any())
print("Missing initial_call_type:",results_df[['initial_call_type']].isnull().values.any())
print("Missing occured_date_time:",results_df[['occured_date_time']].isnull().values.any())
print("Missing officer_bureau_desc:",results_df[['officer_bureau_desc']].isnull().values.any())
print("Missing officer_gender:",results_df[['officer_gender']].isnull().values.any())
print("Missing officer_id:",results_df[['officer_id']].isnull().values.any())
print("Missing officer_precinct_desc:",results_df[['officer_precinct_desc']].isnull().values.any())
print("Missing officer_race:",results_df[['officer_race']].isnull().values.any())
print("Missing officer_squad_desc:",results_df[['officer_squad_desc']].isnull().values.any())
print("Missing officer_year_of_birth:",results_df[['officer_year_of_birth']].isnull().values.any())
print("Missing officer_years_of_experience:",results_df[['officer_years_of_experience']].isnull().values.any())
print("Missing precinct:",results_df[['precinct']].isnull().values.any())
print("Missing reported_date:",results_df[['reported_date']].isnull().values.any())
print("Missing reported_time:",results_df[['reported_time']].isnull().values.any())
print("Missing sector:",results_df[['sector']].isnull().values.any())
print("Missing subject_veteran_indicator:",results_df[['subject_veteran_indicator']].isnull().values.any())
print("Missing template_id:",results_df[['template_id']].isnull().values.any())
print("Missing use_of_force_indicator:",results_df[['use_of_force_indicator']].isnull().values.any())

Missing beat: False
Missing call_type: False
Missing cit_certified_indicator: False
Missing cit_officer_arrived: False
Missing cit_officer_dispatched: False
Missing cit_officer_requested: False
Missing disposition: False
Missing final_call_type: False
Missing initial_call_type: False
Missing occured_date_time: False
Missing officer_bureau_desc: False
Missing officer_gender: False
Missing officer_id: False
Missing officer_precinct_desc: False
Missing officer_race: False
Missing officer_squad_desc: False
Missing officer_year_of_birth: False
Missing officer_years_of_experience: False
Missing precinct: False
Missing reported_date: False
Missing reported_time: False
Missing sector: False
Missing subject_veteran_indicator: False
Missing template_id: False
Missing use_of_force_indicator: False

In [43]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40714 entries, 0 to 42542
Data columns (total 25 columns):
beat                           40714 non-null object
call_type                      40714 non-null object
cit_certified_indicator        40714 non-null object
cit_officer_arrived            40714 non-null object
cit_officer_dispatched         40714 non-null object
cit_officer_requested          40714 non-null object
disposition                    40714 non-null object
final_call_type                40714 non-null object
initial_call_type              40714 non-null object
occured_date_time              40714 non-null object
officer_bureau_desc            40714 non-null object
officer_gender                 40714 non-null object
officer_id                     40714 non-null object
officer_precinct_desc          40714 non-null object
officer_race                   40714 non-null object
officer_squad_desc             40714 non-null object
officer_year_of_birth          40714 non-null object
officer_years_of_experience    40714 non-null float64
precinct                       40714 non-null object
reported_date                  40714 non-null object
reported_time                  40714 non-null object
sector                         40714 non-null object
subject_veteran_indicator      40714 non-null object
template_id                    40714 non-null object
use_of_force_indicator         40714 non-null object
dtypes: float64(1), object(24)
memory usage: 8.1+ MB

### No missing or non-null data (all of the columns have same number of rows).
## Convert into their respective data types.

In [44]:
# template_id is number format.
results_df.template_id = pd.to_numeric(results_df.template_id)

In [45]:
results_df.officer_id = pd.to_numeric(results_df.officer_id)

In [46]:
results_df.officer_year_of_birth = results_df.officer_year_of_birth.apply(pd.to_numeric, errors='coerce')

Since reported date and reported time are seperated, combined into one field and named reported_date_time.

In [47]:
results_df['reported_date_time'] = results_df['reported_date'] + ' ' + results_df['reported_time']
results_df.reported_date_time = pd.to_datetime(results_df['reported_date_time'], errors='coerce')

# validate if any NaT exists.
print("Missing reported_date_time:",results_df[['reported_date_time']].isnull().values.any())

Missing reported_date_time: False

In [48]:
results_df.drop(['reported_date', 'reported_time'],inplace=True, axis=1)

In [49]:
results_df.occured_date_time = pd.to_datetime(results_df['occured_date_time'])

In [50]:
# results_df.subject_veteran_indicator = results_df.subject_veteran_indicator.map({'Yes':1,'No':0, 'Unknown':2})

In [51]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40714 entries, 0 to 42542
Data columns (total 24 columns):
beat                           40714 non-null object
call_type                      40714 non-null object
cit_certified_indicator        40714 non-null object
cit_officer_arrived            40714 non-null object
cit_officer_dispatched         40714 non-null object
cit_officer_requested          40714 non-null object
disposition                    40714 non-null object
final_call_type                40714 non-null object
initial_call_type              40714 non-null object
occured_date_time              40714 non-null datetime64[ns]
officer_bureau_desc            40714 non-null object
officer_gender                 40714 non-null object
officer_id                     40714 non-null int64
officer_precinct_desc          40714 non-null object
officer_race                   40714 non-null object
officer_squad_desc             40714 non-null object
officer_year_of_birth          40714 non-null int64
officer_years_of_experience    40714 non-null float64
precinct                       40714 non-null object
sector                         40714 non-null object
subject_veteran_indicator      40714 non-null object
template_id                    40714 non-null int64
use_of_force_indicator         40714 non-null object
reported_date_time             40714 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(18)
memory usage: 7.8+ MB

In [52]:
results_df.describe(include='all')

,beat,call_type,cit_certified_indicator,cit_officer_arrived,cit_officer_dispatched,cit_officer_requested,disposition,final_call_type,initial_call_type,occured_date_time,...,officer_race,officer_squad_desc,officer_year_of_birth,officer_years_of_experience,precinct,sector,subject_veteran_indicator,template_id,use_of_force_indicator,reported_date_time
count,40714,40714,40714,40714,40714,40714,40714,40714,40714,40714,...,40714,40714,40714.000000,40714.000000,40714,40714,40714,40714.000000,40714,40714
unique,51,7,2,2,2,2,15,200,188,33097,...,8,139,NaN,NaN,5,17,3,NaN,2,33159
top,K2,911,N,Y,N,N,Emergent Detention/ITA,--CRISIS COMPLAINT - GENERAL,SUICIDE - IP/JO SUICIDAL PERSON AND ATTEMPTS,2016-07-12 03:03:18,...,White,TRAINING - FIELD TRAINING SQUAD,NaN,NaN,NORTH,KING,Unknown,NaN,N,2015-12-26 00:54:00
freq,1466,28344,23961,31727,21127,36982,10787,27807,7521,6,...,30175,4129,NaN,NaN,12064,4061,21998,NaN,40045,6
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-04-23 14:45:57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-15 15:57:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-23 17:30:53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-23 20:25:00
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1980.301960,6.882522,NaN,NaN,NaN,261008.434028,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.618383,8.059269,NaN,NaN,NaN,132967.183346,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1946.000000,0.000000,NaN,NaN,NaN,43469.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1973.000000,1.000000,NaN,NaN,NaN,145049.250000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1983.000000,3.000000,NaN,NaN,NaN,251136.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1988.000000,9.000000,NaN,NaN,NaN,387125.250000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1996.000000,42.000000,NaN,NaN,NaN,494878.000000,NaN,NaN

In [53]:
with open('../Data/Crisis_data_cleaned.txt', 'wb') as fp:
    pickle.dump(results_df, fp)